* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color:#b9b3a8;
}
header{
    margin: 0 auto;
    display: block;
    width: 1200px;
    height: 100px;
    background: #660000FF;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
header .logo a{
    font-family: "Alumni Sans Inline One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9f0e2;
}
nav {
    position: sticky;
    top: 0;
}
.menu ul {
    list-style: none;
}
.menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.menu a {
    display: block;
    padding: 14px;
    text-decoration: none; 
    color: #f9f0e2;
    font-size: 16px;
}
.menu a:hover {
    background: rgb(145, 18, 18);
    font-weight: 700;
    border-radius: 10px;
}
.banner img{
    width: 1200px; 
    height: 540px;
    display: block;
    margin: auto;
}
.noticias, .sedes, .contacto{
    margin: 0 auto;
    width: 1200px; 
    padding: 46px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #660000FF;
    background-color: #f9f0e2;
}
.noticias h2, .sedes h2, .contacto h2{
    text-transform: uppercase;
}
.noticias> div , .sedes>div, .contacto>div{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    justify-content: space-around;
    width: 1200px;
}
.noticias> div >div {
    display: flex;
    flex-direction: column;
    width: 360px;
}
.noticias img{
    width: 360px;
    height: 210px;
}
.noticias h3, .sedes h3, .contacto h3{
    display: block;
    font-size: 16px;
    margin-top: 15px;
}
.noticias div div p:first-of-type{
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
}
.noticias div div p:nth-of-type(2){
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
}
.sedes{
    background-color:  #660000FF;
    color: #f9f0e2;
}
.sedes> div >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
}
.sedes img{
    width: 230px;
    height: 230px;
    border-radius: 100%;
}
.sedes img:hover{
    transform: scale(1.2);
}
.sedes div div p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.contacto> div >div {
    display: flex;
    flex-direction: column;
}
.contacto h3{
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 36px;
    text-transform: uppercase;
}
.contacto_ubicacion p{
    margin-top: 10px;
    font-size: 16px;
}
.contacto_redes{
    margin-top: 100px;
}
.contacto_redes ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.contacto_redes a{
    margin-right: 10px;
}
.contacto_redes img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.contacto_formulario .input_texto, .contacto_formulario textarea{
    display: block;
    background-color: white;
    width: 540px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #868686FF;
    border-radius: 10px;
    padding: 0px 10px;
}
/*
.input_texto:focus-visible{
    border: 1px solid rgb(0, 68, 255);

}
*/

.contacto_formulario textarea{
    height: 110px;
    padding: 10px 10px;
}

.contacto_formulario p{
    margin: 15px 0px;
    font-size: 16px;
}
.contacto_formulario span{
    margin-left: 5px;
}
.boton{
    margin-top: 20px;
    width: 120px;
    background: #660000FF;
    border: 1px solid #868686FF;
    border-radius: 10px;
    color: #f9f0e2;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 700;
      cursor: pointer;
}
.boton:hover{
    background: rgb(145, 18, 18);
}
footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 80px;
    background: #660000FF;
}
footer p{
    color: #f9f0e2;
}