* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
header{
    margin: 0 auto;
    display: block;
    width: 1200px;
    height: 100px;
    background: #660000FF;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
header .logo a{
    font-family: "Alumni Sans Inline One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9f0e2;
}
nav {
    position: sticky;
    top: 0;
}
.menu ul {
    list-style: none;
}
.menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.menu a {
    display: block;
    padding: 14px;
    text-decoration: none; 
    color: #f9f0e2;
    font-size: 16px;
}
.menu a:hover {
    background: rgb(145, 18, 18);
}
.banner img{
    width: 1200px; 
    height: 540px;
    display: block;
    margin: auto;
}
.reglamento, .emparejamiento, .transmision{
    margin: 0 auto;
    width: 1200px; 
    padding: 46px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #660000FF;
    background-color: #f9f0e2;
}
.reglamento h2, .emparejamiento h2, .transmision h2{
    text-transform: uppercase;
}
.reglamento> div , .emparejamiento>div, .transmision>div{
    display: flex;
    flex-direction: row;
    margin: 40px 80px;
    justify-content: space-evenly;
    width: 1200px;
}
.reglamento> div >div {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 100px;
}
.reglamento> div > div a {
    margin-top: 25px;
    text-decoration: none;
    color:  #660000FF;
    font-weight: 700;
}
.reglamento> div > div a:hover {
    color: rgb(145, 18, 18);
}
.reglamento img{
    width: 200px;
    height: 280px;
    margin-left: 100px;
}
.reglamento h3, .emparejamiento h3, .transmision h3{
    display: block;
    font-size: 16px;
    margin-top: 15px;
}

.reglamento div div p{
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
}
.emparejamiento{
    background-color:  #660000FF;
    color: #f9f0e2;
}

.emparejamiento img{

}
.emparejamiento div div p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.transmision iframe{
    margin-top: 40px;
}
footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 80px;
    background: #660000FF;
}
footer p{
    color: #f9f0e2;
}