* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
header{
    margin: 0 auto;
    display: block;
    width: 1200px;
    height: 100px;
    background: #660000FF;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
header .logo a{
    font-family: "Alumni Sans Inline One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9f0e2;
}
nav {
    position: sticky;
    top: 0;
}
.menu ul {
    list-style: none;
}
.menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.menu a {
    display: block;
    padding: 14px;
    text-decoration: none; 
    color: #f9f0e2;
    font-size: 16px;

}
.premios{
    margin: 0 auto;
    width: 1200px; 
    padding: 46px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #660000FF;
    background-color: #f9f0e2;
    
}
.premios h2{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.premios> div{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px;
    justify-content: space-around;
    width: 680px;
    height: 150px;
    border: 1px solid #660000FF;
}
.premios> div >div{
    display: flex;
    flex-direction: column;
    width: 510px;
    margin: 25px;
}
.premios img{
    width: 100px;
    height: 100px;
    margin: 25px;
}
.premios h3{
    display: block;
    font-size: 16px;
}
.premios div div p:first-of-type{
    font-size: 12px;
    margin-top: 10px;
    text-align: justify;
}

.premios:nth-of-type(3){
    padding-bottom: 46px;
}

footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 80px;
    background: #660000FF;
}
footer p{
    color: #f9f0e2;
}